{% extends "base.html" %}

{% block title %}To-Do App : Home{% endblock %}

{% block content %}
    {% if all %}
    <br>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>List(s)</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        {% for todoList in all %}
            {% if todoList.finished %} 
            <tr class="table-secondary">
                <td class="crossout">{{ todoList.item}}</td>
                <td><a href="{% url 'changeCross' todoList.id %}">Uncross</a></td>
                <td><a href="{% url 'delete' todoList.id %}">Delete</a></td>
            </tr>
            {% else %}
            <tr>
                <td>{{ todoList.item}}</td>
                <td><a href="{% url 'changeCross' todoList.id %}">Cross out</a></td>
                <td><a href="{% url 'delete' todoList.id %}">Delete</a></td>
            </tr>
            {% endif %}
        {% endfor%}
    </table>
    {% endif %}
{% endblock %}